.container{
    height:300px;
    border: 2px white  double;
    box-sizing: border-box;
    width:300px;
    align-content: center;
    padding: 20px;
    text-align: center;
    margin-left: 400px;
    margin-top: 50px;
    border-style: double;
    border-radius: 50px 5px;
   /*background: linear-gradient(to right, aquamarine 0%, lightblue 50%, aquamarine 100%);*/
    background: linear-gradient(89.2deg, rgb(150,144,204) 22.3%, rgb(109, 192, 236) 84.1%);
    color: black;
    box-shadow: 0 0 10px white;
    transition: 0.3s ease;
  }

.header{
    padding-top: 0px;
    margin-top: 0px;
}

.para{
    margin-top:0px;
    padding-left: 0px;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    font-size: 1.2rem;
}

.button{
    padding-top: 0px;
    margin-top: 0px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
}

.button1{
    padding: 5px;
    width: 80px;
    box-sizing: border-box;
    border: 2px white solid;
    background: #A9DBE4;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(89.2deg, rgb(150,144,204) 22.3%, rgb(109, 192, 236) 84.1%);

}

.button2{
    padding: 5px;
    width: 80px;
    box-sizing: border-box;
    border: 2px white solid;
    margin-left: 5px;
    background-color: #A9DBE4;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(89.2deg, rgb(150,144,204) 22.3%, rgb(109, 192, 236) 84.1%);

}

.button3{
    box-sizing: border-box;
    border: 2px white solid;
    margin-left: 5px;
    background-color: #A9DBE4;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background: linear-gradient(89.2deg, rgb(150,144,204) 22.3%, rgb(109, 192, 236) 84.1%);

}

.button4:focus{
    border: rgb(109, 192, 236) 2px solid;
}

.button4{
    box-sizing: border-box;
    border: 2px white solid;
    margin-left: 5px;
    background-color: #A9DBE4;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient(89.2deg, rgb(150,144,204) 22.3%, rgb(109, 192, 236) 84.1%);
    outline: none;
}

.button2:hover{
    background: rgba(255, 255, 255, 0.2);
    color:#fff;
    transition: 0.3s;
  }
  
.button1:hover{
    background: rgba(255, 255, 255, 0.2);
    color:#fff;
    transition: 0.3s;
  }
  
.button3:hover{
    background: rgba(255, 255, 255, 0.2);
    color:#fff;
    transition: 0.3s;
  }
  
.button4:hover{
    background: rgba(255, 255, 255, 0.2);
    color:#fff;
    transition: 0.3s;
  }

  .container:hover{
    transform: translateY(-10px); 
    border: rgb(109, 192, 236) 2px solid;
  }
